<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
     <title>REGISTRO DE USUARIO</title>
</head>
<body>
<form method="post" action="{{url_for('procesar_formulario')}}">
 <label>Nombre</label><input autocomplete="off" spellcheck="false" type="text" placeholder="CARLOS JOSE" name="name">
<label>Apellido</label><input autocomplete="off" spellcheck="false" type="text" placeholder="Hernandez" name="lastname">
<label>Email</label><input autocomplete="off" spellcheck="false" type="email" placeholder="carlosjose@gmail.com" name="email">
<input type="submit" value="REGISTRARME">
</form>

<div id="ntfy-div">
<h1>{{ ntfy }}</h1>
</div>

<script>
const container_ntfy = document.getElementById('ntfy-div');

setTimeout(() => {
     container_ntfy.style.display="none";
}, 3000)



</script>
</body>
</html>