body{
	background: #000;
	color:#fff;
}

form{
	display: flex;
	flex-direction: column;
	width:30%;
	gap:5px;
}

input[type="text"], input[type="email"]{
	padding:8px;
	border: none;
	border-radius: 3px;
	outline: none;
	font-size: 17px;
	text-align: center;
}

input[type="submit"]{
margin-top: 7px;
background: red;
color:#fff;
border: none;
padding:6px;
font-size: 18px;
}

input[type="submit"]:hover{
	cursor: pointer;
	opacity: 80%;
}